body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei', 'Arial Narrow';
    font-size: 14px;
    color: #666;
    line-height: 18px;
}
table {
    border-collapse: collapse;
}
table,
tr,
td {
    border: 0px;
}
tr,
td {
    padding: 2px 0px;
    height: 22px;
    text-align: center;
}
td.content {
    border: 1px solid #fff;
}
tr {
    background: #eceded;
}
tr:hover {
    background: #e7f4fe;
    color: #06c;
}

td {
    min-width: 100px;
    width: 100px;
}
.color_blue {
    color: #036;
}
.font_14 {
    font-size: 14px;
}
.font_16 {
    font-size: 16px;
}
.font_18 {
    font-size: 18px;
}
.font_20 {
    font-size: 20px;
}
.font_center {
    text-align: center;
}
.font_bold {
    font-weight: bold;
}
.top {
    width: 100%;
    height: 170px;
    background: url(img/title.jpg) no-repeat top center;
    margin: auto;
    position: relative;
}
.float_div {
    position: absolute;
    right: 0px;
    bottom: 10px;
    height: auto;
}
.top table {
    color: #cde2fd;
    font-size: 12px;
}
.top td {
    color: #e4effe;
    height: 20px;
    line-height: 20px;
    background: none;
    padding: 0;
    width: auto;
}
.top tr,
.top tr:hover {
    background: none;
    color: #fff;
}
.top td a {
    color: #e4effe;
}
.top td a:hover {
    color: #fff;
}
.main {
    width: calc(100% - 2px);
    margin: auto;
}
a:link {
    color: #666;
    text-decoration: none;
}
a:visited {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #06c;
    text-decoration: none;
}
a:ative {
    color: #06c;
}
.newCpu {
    color: white;
    background: #c77e7e;
}
.unlisted {
    color: #124dbd;
}
